* {
    text-align: center;
}

h1 {
    text-align: center;
}


li {
    border: 1px solid blue;
    width: 200px;
    text-align: center;
    margin: 20px;
}

.recipes {
    margin-left: 550px;
    margin-top: 50px;
}
